:root {
    --gtcolor-primary: #D78627;
    --gtcolor-secondary: #000000;
    --gtcolor-background: #1C1C1E;
    --gtcolor-light: rgba(132, 139, 200, 0.18);


    /*  Cards  */
    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 0.8rem;
    --border-radius-3: 1.2rem;

    --card-padding: 1.8rem;
    --padding-1: 1.2rem;

    /*  Box Shadow  */
    --box-shadow: 0 2rem 3rem var(--gtcolor-secondary)
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
    appearance: none;
    border: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

.gtcontainer {
    display: grid;
    width: 100%;
    margin: 0 auto;
    background: #1C1C1E;
    gap: 1.8rem;
    grid-template-columns: 14rem auto 23rem;
}

body {
    font-family: 'Raleway';
    background: var(--gtcolor-background);
    width: 100vh;
    height: 100vh;
    font-size: 0.88rem;
    user-select: none;
    overflow-x: hidden;
    text-decoration: none;
}

a {
    color: white;
}

img {
    display: block;
    width: 100%;
}

h1 {
    font-weight: 800;
    font-size: 1.8rem;
}

h2 {
    font-size: 1.4rem;
}

h3 {
    font-size: 0.87rem;
}

h4 {
    font-size: 0.8rem;
}

h4 {
    font-size: 0.77rem;
}

small {
    font-size: 0.75rem;
}

.gt-profile-image {
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 50%;
    overflow: hidden;
}

.text-gtsecondary {
    color: var(--gtcolor-secondary);
}

p {
    color: white;
}

b {
    color: white;
}

.text-gtprimary {
    color: white;
}

sidebar {
    height: 100vh;
    background: #131212;
    box-shadow: var(--box-shadow);
}

sidebar .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1.4rem;
}

sidebar .gatewaysLogo {
    display: flex;
    gap: 0.8rem;
    margin-left: 2rem;
}

sidebar .gatewaysLogo img {
    width: 2rem;
    height: 2rem;
}

sidebar .close {
    display: none;
}

/*======================================SIDEBAR=================================*/

sidebar .sidebar {
    background: #131212;
    display: flex;
    flex-direction: column;
    height: 86vh;
    position: relative;
    top: 3rem;
}

sidebar h3 {
    font-weight: 500;
}

sidebar .sidebar a {
    display: flex;
    color: white;
    margin-left: 2rem;
    gap: 1rem;
    align-items: center;
    position: relative;
    height: 3.7rem;
    transition: all 300ms ease;
}

sidebar .sidebar a span {
    font-size: 1.6rem;
    transition: all 300ms ease;
}

sidebar .sidebar a:last-child {
    position: absolute;
    bottom: 2rem;
    width: 100%;
}

sidebar .sidebar a:hover {
    color: #D78627;
}

sidebar .sidebar a:hover span {
    margin-left: 1rem;
}

/*================================SIDEBAR END================================*/

/*================================Main=================================*/


main {
    margin-left: 3rem;
    margin-top: 3rem;
    /*width: 85vh;*/
}

main .cardButton {
    display: inline-block;
    margin-top: 1rem;
    margin-left: 3rem;
    padding: 0.5rem 1.6rem;

}

main .eventCards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5rem;
}

main .eventCards > div {
    height: 350px;
    width: 280px;
    background: #D78627;
    align-items: center;
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    margin-top: 1rem;
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
}

main .eventCards > div:hover {
    box-shadow: none;
    transform: scale(110%);

}

.eventDetails {
    width: 90vh;
}

.eventDetails p {
    font-size: 35px;
}

.eventDetailsButton {
    background-color: #CCFF28;
    border: none;
    color: #000000;
    margin-top: 3rem;
    padding: 20px 60px;
    border-radius: 10px;
    transition: all 300ms ease;
}

.eventButton {
    background-color: #000000;
    border: none;
    color: #ffffff;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
    transition: all 300ms ease;
}

.eventButton:hover {
    background-color: #ffffff;
    color: #000000;
}

main .eventCard .cardText {
    margin-top: 8rem;
}

main .eventCard .cardButton {
    margin-left: 3.5rem;
}

main .gtjoin-other-nrg {
    gap: 2.5rem;
    margin-top: 5rem;
    width: 86vh;
}

.gt-rsEvents {
    margin-top: 4rem;
    margin-bottom: 2rem;
}

rsTableDiv .resultTable table{
    border: 1px solid #D78627;
}

/*================================Main ENd=================================*/

/*=============================================upMain=========================================*/
upmain {
    margin-left: 3rem;
    margin-top: 3rem;
    width: 85vh;
}

.gt-yourUpdatesv {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

upmain .cardButton {
    display: inline-block;
    margin-top: 1rem;
    margin-left: 3rem;
    padding: 0.5rem 1.6rem;

}

upmain .eventCards {
    display: grid;
    grid-template-columns: repeat(5, 2fr);
    gap: 2.5rem;
}

upmain .eventCards > div {
    height: 300px;
    width: 250px;
    background: #D78627;
    align-items: center;
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    margin-top: 1rem;
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
}

upmain .eventCards > div:hover {
    box-shadow: none;
    transform: scale(110%);

}

upmain .eventButton {
    position: fixed;
    background-color: #000000;
    border: none;
    color: #ffffff;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
    transition: all 300ms ease;
}

upmain .eventButton:hover {
    background-color: #ffffff;
    color: #000000;
}

upmain .eventCard .cardText {
    margin-top: 0.2rem;
}

upmain .eventCard .cardText h3 {
    font-size: 20px;
}

upmain .eventCard .cardButton {
    margin-left: 4.5rem;
    margin-top: 4rem;
}
/*=============================================upMain=========================================*/
/*======================================Join Other Events=====================================*/

main .gtjoin-other {
    display: flex;
    margin-top: 150px;
}

main .gtjoin-other .gtRegNowBtn {
    background-color: #CBE5FF;
    align-self: center;
    border: none;
    color: #000000;
    padding: 15px 70px;
    font-family: Raleway;
    font-weight: bolder;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 250px;
    cursor: pointer;
    border-radius: 10px;
    transition: all 300ms ease;
}

main .gtjoin-other .gtRegNowBtn:hover {
    background-color: #45456c;
    color: #FFFFFF;
}

main .gtjoin-other-nrg .gtRegNowBtn {
    background-color: #CBE5FF;
    align-self: center;
    border: none;
    color: #000000;
    padding: 15px 70px;
    font-family: Raleway;
    font-weight: bolder;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-top: 50px;
    cursor: pointer;
    border-radius: 10px;
    transition: all 300ms ease;
}

main .gtjoin-other-nrg .gtRegNowBtn:hover {
    background-color: #45456c;
    color: #FFFFFF;
}

main .gt-yourEvents {
    margin-top: 80px;
    margin-bottom: 20px;
}


/*======================================Join Other Events End=====================================*/

/*======================================Right Side Countdown=====================================*/

.gtright {
    margin-left: 14rem;
    display: flex;
    position: fixed;
    right: 20px;
    height: 86vh;
}

.gt-profile {
    position: fixed;
    margin-top: 2rem;
    right: 20px;
    display: flex;
    align-items: center;
    gap: 0.8rem;
}

.gtcountDiv {
    margin-top: 3rem;
}

.gtBrochure {
    margin-top: 5rem;
}

.countdown-info {
    margin-top: 10rem;
    margin-bottom: 4rem;
    font-size: 40px;
}

.brochureInfo {
    margin-top: 10rem;
    color: white;
    margin-bottom: 1rem;
    font-size: 40px;
}

.brochureButton {
    background-color: #CCFF28;
    border: none;
    color: #000000;
    padding: 20px 50px;
    border-radius: 10px;
    transition: all 300ms ease;
}

.brochureButton:hover {
    background-color: #ffffff;
    border: none;
    color: #000000;
}

.gtcountDiv .countdown {
    color: var(--gtcolor-primary);
    font-size: 70px;
}

.gtContactBottom {
    display: flex;
    align-items: center;
    position: fixed;
    bottom: 20px;
    right: 30px;
}

.contactText {
    display: flex;
}

/*============================================MEDIA SMALL LAPTOP/TABLET==============================================*/

@media screen and (max-width: 1200px) {
    .gtcontainer {
        width: 100%;
        grid-template-columns: 7rem auto 23rem;
    }

    sidebar .gatewaysLogo h2 {
        display: none;
    }

    sidebar .sidebar h3 {
        display: none;
    }

    sidebar .sidebar a {
        width: 5.6rem;
    }

    sidebar .sidebar a:last-child {
        position: relative;
        margin-top: 1.8rem;
    }
    main .eventCards {
        grid-template-columns: 1fr;
        gap: 0;
    }
    main .eventCards > div:hover {
        box-shadow: none;
        transform: none;
    }

    main .gtjoin-other{
        width: 80%;
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        margin: 4rem 0 0 8.8rem;
    }
}

/*============================================MEDIA SMALL TABLET/PHONE==============================================*/

@media screen and (max-width: 768px) {
    .gtcontainer {
        width: 100%;
        grid-template-columns: 1fr;
    }

    sidebar {
        position: fixed;
        left: 0;
        width: 18rem;
        z-index: 3;
        height: 100vh;

    }

    sidebar .top h2{
        display: inline;
    }

    sidebar .sidebar h3 {
        display: inline;
    }

    sidebar .sidebar a {
        width: 100%;
        height: 3.4rem;
    }

    sidebar .sidebar a:last-child {
        position: absolute;
        bottom: 5rem;
    }

    main {
        margin-top: 8rem;
        padding: 0 1rem;
    }

    main .gtjoin-other {
        position: relative;
        margin: 3rem 0 0 0;
        width: 100%;
    }

    .gtright {
        width: 94%;
        margin: 0 auto 4rem;
    }

    .gtright .top {
        position: fixed;
        top: 0;
        left: 0;
        align-items: center;
        padding: 0 0.8rem;
        height: 4.6rem;
        width: 100%;
        margin: 0;
        z-index: 2;
    }
}


/*=============================================ANILA SECTION============================================================*/




